<div>
  <p>To view this users photos send a friend request</p>
  <!-- <button (click)="sendFriendRequest()" class="btn btn-primary">Friend Request</button>
            <div *ngIf="story.images.length; else showPlaceholderImage">

              <img *ngFor="let image of story.images" (click)="viewImage(image)" [src]="image" class="smallImg">

            </div>

            <ng-template #showPlaceholderImage>
              <p>There are no images added to this story yet!</p>
            </ng-template> -->
</div>