<!-- have not sent a request -->
<div *ngIf="status === 'notRequested'" class="d-flex justify-content-between align-items-start">
  <p>Send a friend request to view this users photos.</p>
  <button (click)="sendFriendRequest(story.user._id)" class="btn btn-dark btn-sm">
    <i class="fas fa-user-plus"></i>
    Request
  </button>
</div>

<!-- sent request waiting for response -->
<div *ngIf="status === 'sentRequest'">
  <p>A Friends Request has been sent. If accepted you will be able to view their photos.</p>
</div>


<!-- received a friends request from this user -->
<div *ngIf="status === 'receivedRequest'" class="d-flex justify-content-between align-items-start">
  <p>You received a friend request. Click accept to view this user's photos.</p>
  <button class="btn btn-dark btn-sm" (click)="addUserToFriends()">
    <i class="fas fa-user-plus"></i>
    Add to Friends
  </button>
</div>

<!-- is friends already -->
<div *ngIf="status === 'isFriend'">
  <div *ngIf="story.images.length; else showPlaceholderImage">

    <img *ngFor="let image of story.images" (click)="viewImage(image)" [src]="image.downloadURL" class="smallImg">

  </div>

  <ng-template #showPlaceholderImage>
    <p>There are no images added to this story yet!</p>
  </ng-template>
</div>