.loginWrapper {
  background: url(../../../assets/img/world-large.svg) no-repeat center center;
  position: absolute;
  width: 100%;
  top: 10px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1300px;
}

.card {
  padding: 25px;
  background: #f5f5f5;
  opacity: 0.9;
}
