<div class="row">
  <div class="col-12">

    <button *ngIf="backBtn" (click)="goBack()" class="btn-secondary btn-block mb-2">
      <i class="fas fa-chevron-left"></i>
      Go Back
    </button>

    <button *ngIf="editBtn" (click)="delete()" class="btn-danger btn-block mr-1 mb-2">
      <i class="fas fa-trash-alt"></i>
      Delete
    </button>

    <button *ngIf="deleteBtn" (click)="edit()" class="btn-secondary btn-block mb-2">
      <i class="fas fa-edit"></i>
      Edit
    </button>

    <button *ngIf="detailBtn" (click)="details()" class="btn-secondary btn-block mb-2">
      <i class="fas fa-info-circle"></i>
      Details
    </button>
  </div>
</div>