/* left */
.form-group > label {
  margin-right: 10px;
}

/* button */
.showSmBtn {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}
.showLgBtn {
  display: none;
}

/* right */
.cardImg > img {
  float: right;
}

/* from large break-point */
@media (max-width: 1199.98px) {
  .showSmBtn {
    display: none;
  }
  .showLgBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }
}

/* from medium break-point */
@media (max-width: 991.98px) {
  .cardImg {
    margin-top: 10px;
  }
  .cardImg > img {
    float: none;
  }
}

/* from small break-point */
@media (max-width: 767.98px) {
  .radioGroup {
  }
}
