<div class="card-body">
  <div class="row">

    <!-- left -->
    <div class="cardText col-sm-12 col-lg-7">
      <h3 class="card-title">{{data.title}}</h3>
      <p class="card-text">{{data.description}}</p>

      <!-- match form -->
      <form class="form" [formGroup]="matchUsersForm" (ngSubmit)="handleSubmit()" novalidate>
        <!-- select -->
        <div class="form-group mr-3">
          <label>Select Distance:</label>
          <select name="distance" class="form-control" formControlName="distances">
            <option *ngFor="let distance of distances" [value]="distance">{{distance}}</option>
          </select>
        </div>

        <!-- radio -->
        <div class="radioGroup form-group">
          <input formControlName="distanceType" class="mr-2" checked type="radio" name="distanceType" value="miles">
          <span class="mr-3">Miles</span>
          <input formControlName="distanceType" class="mr-2" type="radio" name="distanceType" value="km">
          <span>Km</span>
        </div>

        <!-- submit buttons -->
        <!-- small -->
        <div class="btn-group">
          <button type="submit" class="showSmBtn btn btn-primary btn-sm mr-2">
            <i class="fas fa-link mr-1"></i>
            Match Others
          </button>
          <button [routerLink]="['/map/storyDetails', data.user._id, data._id]" type="button" class="showSmBtn btn btn-secondary btn-sm">
            <i class="fas fa-atlas mr-1"></i>
            Story Details
          </button>
        </div>

        <!-- large -->
        <button type="submit" class="showLgBtn btn btn-primary btn-block btn-sm">
          <i class="fas fa-link mr-1"></i>
          Match Others
        </button>
        <button [routerLink]="['/map/storyDetails', data.user._id, data._id]" type="button" class="showLgBtn btn btn-secondary btn-block btn-sm">
          <i class="fas fa-atlas mr-1"></i>
          Story Details
        </button>

      </form>
    </div>

    <!-- right -->
    <div class="cardImg col-sm-12 col-lg-5">
      <img class="img-fluid mx-auto d-block" src="https://via.placeholder.com/400x400">
    </div>

  </div>

</div>