<div class="storyDetailsWrapper" *ngIf="(story$ | async) as story; else showSpinner">
  <app-heading [heading]="story.title"></app-heading>

  <div class="row mt-2">
    <div class="col-xs-12 col-sm-10 mx-auto">
      <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="Story">
          <ng-template ngbPanelContent>
            <p>{{story.description}}</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Map">
          <ng-template ngbPanelContent>

            <agm-map [longitude]="story.geometry.coordinates[0]" [latitude]="story.geometry.coordinates[1]" [zoom]="8">

              <agm-marker [longitude]="story.geometry.coordinates[0]" [latitude]="story.geometry.coordinates[1]">
              </agm-marker>

            </agm-map>


          </ng-template>
        </ngb-panel>
        <ngb-panel title="Photos">
          <ng-template ngbPanelContent>
            <div *ngIf="story.images.length; else showPlaceholderImage">

              <img *ngFor="let image of story.images" (click)="viewImage(image)" [src]="image.downloadURL" class="smallImg">

            </div>

            <ng-template #showPlaceholderImage>
              <p>There are no images added to this story yet!</p>
            </ng-template>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>


    </div>
  </div>

</div>

<ng-template #showSpinner>
  <app-heading></app-heading>
  <app-spinner></app-spinner>
</ng-template>