<div class="registerWrapper">
  <app-heading></app-heading>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 mx-auto">
        <div class="card">
          <div class="card-block">
            <h1 class="card-title text-center">Register</h1>

            <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()" novalidate>
              <!-- username -->
              <app-form-group [data$]="formGroupData$" formControlName="username" ngDefaultControl (appBlurEvent)="blurEvent($event)"
                [errMsg]="controlNameErrs.username"></app-form-group>

              <!-- email -->
              <app-form-group [data$]="formGroupData$" formControlName="email" ngDefaultControl (appBlurEvent)="blurEvent($event)"
                [errMsg]="controlNameErrs.email"></app-form-group>


              <!-- password group  -->
              <div formGroupName="passwordGroup">

                <!-- password -->
                <app-form-group [data$]="formGroupData$" formControlName="password" ngDefaultControl (appBlurEvent)="blurEvent($event)"
                  [errMsg]="controlNameErrs.password"></app-form-group>

                <!-- confirm password -->
                <app-form-group [data$]="formGroupData$" formControlName="confirmPassword" ngDefaultControl
                  (appBlurEvent)="blurEvent($event)" [errMsg]="controlNameErrs.confirmPassword"></app-form-group>

              </div>

              <button type="submit" [disabled]="!registerForm.valid" class="btn btn-outline-dark btn-block btn-sm">Submit</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>


</div>