.loading-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  cursor: pointer;
}

.loading-overlay-container {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loading-overlay-spinner-container {
  width: "112px";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -64px;
}

.loading-overlay-spinner {
  display: "inline-block";
  margin: 0, auto;
}
