<div class="storyListWrapper">

  <app-heading heading="My Stories"></app-heading>

  <div *ngIf="(stories$ | async) as stories; else showSpinner" class="row">
    <div class="storiesContainer col-xs-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
      <div *ngFor="let story of stories" class="card col-10 mx-auto my-3">
        <div class="card-body d-flex flex-wrap justify-content-between align-items-center">
          <div class="cardText">
            <h5 class="card-title">{{story.title}}</h5>
            <p class="card-text">{{story.description}}</p>
          </div>
          <div class="cardImg">
            <img src="https://via.placeholder.com/150x150">
          </div>

        </div>
      </div>
    </div>
  </div>


  <ng-template #showSpinner>
    <app-spinner></app-spinner>
  </ng-template>

</div>