<div class="storyListWrapper">

  <app-heading heading="My Stories"></app-heading>

  <div *ngIf="(stories$ | async) as stories; else showSpinner" class="row">
    <div class="storiesContainer col-xs-12 col-sm-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
      <div *ngFor="let story of stories" class="card col-10 mx-auto my-3">

        <app-list-card (onHandleSubmit)="onHandleSubmit($event)" [data]="story"></app-list-card>

      </div>
    </div>
  </div>


  <ng-template #showSpinner>
    <app-spinner></app-spinner>
  </ng-template>

</div>