<div class="addStoryWrapper">

  <app-heading heading="Tell your Story"></app-heading>

  <div class="container">
    <div class="spacer20"></div>
    <div class="row">
      <div class="col-sm-12 col-md-10 mx-auto">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Story Details</h3>
            <form class="storyForm" [formGroup]="storyForm" (ngSubmit)="handleSubmit()" novalidate>

              <!-- title -->
              <app-form-group [data$]="formGroupData$" formControlName="title" ngDefaultControl (appBlurEvent)="blurEvent($event)"
                [errMsg]="controlNameErrs.title"></app-form-group>

              <div class="spacer10"></div>
              <!-- description -->
              <app-text-box [data$]="formGroupData$" formControlName="description" ngDefaultControl (appBlurEvent)="blurEvent($event)"
                [errMsg]="controlNameErrs.description"></app-text-box>

              <div class="spacer20"></div>
              <button type="submit" [disabled]="!storyForm.valid" class="btn btn-dark btn-block">Submit</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>