.logo {
  width: 30px;
  height: 23px;
  padding-right: 5px;
}
a {
  font-size: 1.2em;
  padding: 0;
}

.navbar-brand {
  color: white;
}
.navbar-brand:hover {
  color: white;
}
.navbar-brand.active {
  color: white;
}

@media (max-width: 768px) {
  .nav-item {
    padding-top: 10px;
  }

  .navbar-brand {
    padding-top: 0;
  }
}
