.navbar {
  background: #d7b79c !important;
}

.logo {
  width: 30px;
  height: 23px;
  padding-right: 10px;
  padding-bottom: 3px;
}

/* links */
a,
li,
i {
  color: black !important;
}

i {
  font-size: 1.2em;
}

.nav-link {
  cursor: pointer;
}

.friendBtnGroup {
  margin-top: 6px;
}

@media (max-width: 768px) {
  .nav-item {
    padding-top: 10px;
  }

  .navbar-brand {
    padding-top: 0;
  }
}
