<nav class="navbar navbar-expand-md navbar-light bg-dark fixed-top">

  <!-- Brand -->
  <a routerLink="/" class="navbar-brand" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <img class="logo" src="/assets/jLogo.png">
    <span class='brand-text'>Around The World</span>
  </a>

  <!-- Responsive Btn -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="mobile">
    <!-- Left Links -->
    <ul class="navbar-nav mr-auto"></ul>

    <!-- Right Links -->
    <ul *ngIf="(isAuth$ | async); else isNotAuth" class="navbar-nav ml-auto">
      <app-link text="Dashboard"></app-link>
      <app-link text="Map"></app-link>
      <app-link text="Stories"></app-link>



      <li class="nav-item d-none d-sm-block d-md-none" routerLinkActive="active">
        <a class="nav-link" [routerLink]="link">
          <span>Friend Request</span>
          <span *ngIf="requestLength" class="badge badge-pill badge-danger ml-2">{{requestLength}}</span>
        </a>
      </li>

      <app-link class="d-none d-sm-block d-md-none" text="Friends"></app-link>

      <li class="nav-item d-none d-sm-block d-md-none" routerLinkActive="active" (click)="logout()">
        <a class="nav-link">Logout</a>
      </li>


      <div class="d-sm-none d-md-block friendBtnGroup">
        <div class="btn-group mx-3">
          <button type="button" class="btn btn-light btn-sm dropdown-toggle d-flex align-items-center" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-friends"></i>
            <span *ngIf="requestLength" class="badge badge-pill badge-danger ml-2">{{requestLength}}</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item d-flex" type="button" (click)="friendRequest()">
              <span>Friend Request</span>
              <span *ngIf="requestLength" class="badge badge-pill badge-danger ml-2">{{requestLength}}</span>
            </button>
            <button class="dropdown-item" type="button" (click)="viewFriends()">View Friends </button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" type="button" (click)="logout()">Logout </button>
          </div>
        </div>

      </div>

    </ul>

    <ng-template #isNotAuth>
      <ul class="navbar-nav ml-auto">
        <app-link text="Register"></app-link>
        <app-link text="Login"></app-link>
      </ul>
    </ng-template>
  </div>


</nav>