.navbar {
  background: #d7b79c !important;
}

.logo {
  width: 30px;
  height: 23px;
  padding-right: 10px;
  padding-bottom: 3px;
}

/* links */
a,
li,
i {
  color: black;
}

i {
  font-size: 1.2em;
}

.nav-link {
  cursor: pointer;
  color: black !important;
}

.friendBtnGroup {
  margin-top: 6px;
}

.noFriendsRequest {
  cursor: not-allowed;
}

.friendRequestMenuBadge {
  margin-top: 2px;
}

.friendRequestWrapperXs {
  position: relative;
  cursor: not-allowed;
}
.friendRequestMenuBadgedXs {
  position: absolute;
  top: 13px;
}
.friendRequestMenuBadgeXs {
  position: absolute;
  top: 21px;
}

@media (max-width: 768px) {
  .nav-item {
    padding-top: 10px;
  }

  .navbar-brand {
    padding-top: 0;
  }
}
