<nav class="navbar navbar-expand-md navbar-light bg-dark fixed-top">

  <!-- Brand -->
  <a class="navbar-brand cursorPointer" (click)="navigateTo('home')">
    <img class="logo" src="/assets/jLogo.png">
    <span class='brand-text d-none d-sm-inline d-md-inline d-lg-inline d-xl-inline'>Around The World</span>
    <span class='brand-text d-inline d-sm-none d-md-none d-lg-none d-xl-none'>ATW</span>
  </a>

  <!-- Responsive Btn -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="mobile">
    <!-- Left Links -->
    <ul class="navbar-nav mr-auto"></ul>

    <!-- Right Links -->
    <!-- private -->
    <ul *ngIf="(isAuth$ | async); else isNotAuth" class="navbar-nav ml-auto">

      <app-link text="Map" icon="fas fa-map mr-2"></app-link>
      <app-link text="Stories" icon="fas fa-atlas mr-2"></app-link>

      <!-- friendListGroup -->
      <app-friend-list-group (friendRequest)="friendRequest()" (logout)="logout()" [requestLength]="requestLength"></app-friend-list-group>

      <!-- friendBtnGroup -->
      <app-friend-btn-group (friendRequest)="friendRequest()" (logout)="logout()" [requestLength]="requestLength"></app-friend-btn-group>

    </ul>

    <!-- public -->
    <ng-template #isNotAuth>
      <ul class="navbar-nav ml-auto">
        <app-link text="Register" icon="fas fa-sign-in-alt mr-2"></app-link>
        <app-link text="Login" icon="fas fa-edit mr-2"></app-link>
      </ul>
    </ng-template>
  </div>

</nav>