<div class="row">
  <div class="col-sm-11 mx-auto">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 col-md-8 mb-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="mr-2 font-weight-bold">Gender:</span>
                {{profile.gender}}
              </li>
              <li class="list-group-item">
                <span class="mr-2 font-weight-bold">Gender:</span>
                {{profile.gender}}
              </li>
              <li class="list-group-item">
                <span class="mr-2 font-weight-bold">Occupation:</span>
                {{profile.occupation}}
              </li>
              <li class="list-group-item">
                <span class="mr-2 font-weight-bold">Hometown:</span>
                {{profile.hometown}}
              </li>
              <li class="list-group-item">
                <span class="mr-2 font-weight-bold">Email:</span>
                {{profile.email}}
              </li>
              <li class="list-group-item">
                <span class="mr-2 font-weight-bold">About:</span>
                {{profile.about}}
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 d-flex justify-content-center align-items-center">
            <img [src]="avatar" alt="avatar" style="height: 220px" class="img-fluid img-thumbnail" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>