<div class="row">
  <div class="col-12">
    <form [formGroup]="passwordForm" (ngSubmit)="handleSubmit()" novalidate>

      <!-- password group  -->
      <div formGroupName="passwordGroup">

        <!-- password -->
        <app-text-form-group [data]="passwordData" name="password" [errMsg]="controlNameErrs.password">

          <input type="password" (appBlurEvent)="blurEvent($event)" name="password" formControlName="password" class="form-control"
            placeholder="Enter your password" [class.is-invalid]="controlNameErrs.password">

        </app-text-form-group>

        <!-- confirm password -->
        <app-text-form-group [data]="passwordData" name="confirmPassword" [errMsg]="controlNameErrs.confirmPassword">

          <input type="password" (appBlurEvent)="blurEvent($event)" name="confirmPassword" formControlName="confirmPassword"
            class="form-control" placeholder="Enter your password" [class.is-invalid]="controlNameErrs.confirmPassword">

        </app-text-form-group>

      </div>

      <button type="submit" [disabled]="!passwordForm.valid" class="btn btn-outline-dark btn-block btn-sm">Submit</button>

    </form>
  </div>
</div>