<div class="mapWrapper">
  <div class="row">
    <div class="col-12 ">

      <div class="btnGroup">
        <button class="btn btn-danger btn-sm" (click)="onCancel()">
          <i class="fas fa-backspace mr-1"></i>
          Cancel
        </button>
        <div class="widthSpacer10"></div>
        <button class="btn btn-secondary btn-sm" (click)="onSetLocation()" [disabled]="!marker">
          <i class="fas fa-check mr-1"></i>
          Select
        </button>

      </div>


      <agm-map [latitude]="location.lat" [longitude]="location.lng" [zoom]="4" (mapClick)="onSetMarker($event)">

        <agm-marker *ngIf="marker" [latitude]="marker.lat" [longitude]="marker.lng">
        </agm-marker>

      </agm-map>

    </div>
  </div>
</div>