.storyDetailsWrapper {
  position: relative;
}

.topRightBtn {
  position: absolute;
  z-index: 1;
  top: 70px;
  right: 25px;
}

agm-map {
  height: 300px;
  width: 100%;
}

.spinnerSmallWrapper {
  width: "200px";
}
