<div class="storyDetailsWrapper" *ngIf="(story$ | async) as story; else showSpinner">

  <button (click)="goBack()" class="btn btn-primary topRightBtn">Back to Stories
  </button>

  <app-heading [heading]="story.title"></app-heading>

  <div class="row mt-4">
    <div class="col-xs-12 col-sm-10 mx-auto">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="Story">
          <ng-template ngbPanelContent>
            <p>{{story.description}}</p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Map">
          <ng-template ngbPanelContent>

            <agm-map [longitude]="story.geometry.coordinates[0]" [latitude]="story.geometry.coordinates[1]" [zoom]="8"
              (mapClick)="onSetMarker($event)">

              <agm-marker [longitude]="story.geometry.coordinates[0]" [latitude]="story.geometry.coordinates[1]">
              </agm-marker>

            </agm-map>


          </ng-template>
        </ngb-panel>
        <ngb-panel title="Photos">
          <ng-template ngbPanelContent>

            <div *ngIf="(permission$ | async) as permission">
              <app-friends-photos [story]="story" [permission]="permission">
              </app-friends-photos>
            </div>

            <!-- received a friends request from this user -->
            <div *ngIf="receivedRequest" class="d-flex justify-content-between align-items-start">
              <p>To view photos use must be friends. It looks like you have received a friends request from this user
                already.</p>
              <button class="btn btn-primary btn-sm" (click)="addUserToFriends(receivedRequest)">Add to Friends</button>
            </div>

            <!-- loading -->
            <!-- <ng-template #showSmallSpinner>
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <div class="spinnerSmallWrapper">
                    <i class="fas fa-spinner fa-2x fa-spin my-2"></i>
                  </div>
                </div>
              </div>
            </ng-template> -->

          </ng-template>
        </ngb-panel>
      </ngb-accordion>

    </div>
  </div>

</div>

<ng-template #showSpinner>
  <app-heading></app-heading>
  <app-spinner></app-spinner>
</ng-template>