<div class="row mx-3" *ngIf="(story$ | async) as story; else showSpinner">
  <div class="col-xs-12 col-sm-10 mx-auto">

    <!-- heading -->
    <app-heading [heading]="story.title" (btnClick)="goBack()" [backBtn]="true"></app-heading>

    <div class="row mt-2">
      <div class="col-xs-12 col-sm-10 mx-auto">

        <!-- accordion -->
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel title="Story">
            <ng-template ngbPanelContent>
              <p>{{story.description}}</p>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Map">
            <ng-template ngbPanelContent>
              <!-- map -->
              <agm-map [longitude]="story.geometry.coordinates[0]" [latitude]="story.geometry.coordinates[1]" [zoom]="8">

                <agm-marker [longitude]="story.geometry.coordinates[0]" [latitude]="story.geometry.coordinates[1]">
                </agm-marker>

              </agm-map>

            </ng-template>
          </ngb-panel>
          <ngb-panel title="Photos">
            <ng-template ngbPanelContent>
              <div *ngIf="(status$ | async) as status">

                <!-- photos -->
                <div *ngIf="status !== 'statusLoading'">

                  <app-friends-photos [story]="story" [status]="status">
                  </app-friends-photos>
                </div>

                <!-- loading -->
                <div class="row" *ngIf="status === 'statusLoading'">
                  <div class="col-12 d-flex justify-content-center">
                    <div class="spinnerSmallWrapper">
                      <i class="fas fa-spinner fa-2x fa-spin my-2"></i>
                    </div>
                  </div>
                </div>

              </div>

            </ng-template>
          </ngb-panel>
        </ngb-accordion>

      </div>
    </div>

  </div>

</div>

<ng-template #showSpinner>
  <app-heading></app-heading>
  <app-spinner></app-spinner>
</ng-template>