<div class="welcomeWrapper">
  <div class="container">
    <div class="spacer200"></div>

    <div class="row">
      <div class="col-sm-10 col-md-6 mx-auto d-flex flex-column justify-content-center">
        <img src="../../../assets/img/aroundTheWorldLogo.png" alt="around the world" class="img-fluid">

        <div class="col-12 mx-auto mt-5">

          <div class="d-block d-sm-none d-md-none d-lg-none d-xl-none">
            <button routerLink="/login" class="btn btn-primary btn-block mr-3 mb-3">

              <i class="fas fa-sign-in-alt mr-1"></i>
              Login
            </button>
            <button routerLink="/register" class="btn btn-secondary btn-block mr-3">
              <i class="fas fa-edit mr-1"></i> Register
            </button>
          </div>

          <div class="d-none d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center">
            <button routerLink="/login" class="btn btn-primary btn-sm mr-3">
              <i class="fas fa-sign-in-alt mr-1"></i>
              Login
            </button>
            <button routerLink="/register" class="btn btn-secondary btn-sm mr-3">
              <i class="fas fa-edit mr-1"></i> Register
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>