<div class="row px-3">
  <div class="col-xs-12 col-sm-10 col-md-9 mx-auto">

    <!-- heading -->
    <app-heading heading="My Friends"></app-heading>

    <div class="row">
      <div class="bulletinBg col-12 mx-auto">

        <div *ngIf="(friends$ | async) as friends; else showFetchAndRetry">

          <!-- search / filter friends -->
          <div class="row">
            <div class="col-xs-12 col-sm-10 mx-auto">
              <input placeholder="Search for a friend by name..." type="text" class="form-control" />
            </div>
          </div>


          <!-- have friends -->
          <div class="row">
            <div *ngFor="let friend of friends" class="card col-10 mx-auto my-4">

              <div class="card m-3">
                <div class="card-body">
                  <div class="row d-flex flex-column justify-content-around align-items-center flex-wrap">
                    <img class="img-fluid img-thumbnail" [src]="friend.avatar ? friend.avatar : '../../../assets/img/userdefault.png'"
                      alt="user" />

                    <h3 class="card-title mt-4">{{friend.username}}</h3>

                    <div class="btn-group mt-4">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- no friends empty array -->
          <app-no-data (onBtnClick)="navigateToStoryList()" *ngIf="friends.length === 0" title="No Friends" text="Start matching with others from your story list"
            btnIcon="fas fa-atlas mr-1" btnText="Go to Stories"></app-no-data>

        </div>

      </div>
    </div>
  </div>
</div>

<!-- handle loading and errors -->
<ng-template #showFetchAndRetry>
  <div *ngIf="(error$ | async) as error">
    <app-error-retry (fetchData)="fetchData()" [msg]="error"></app-error-retry>
  </div>
  <app-spinner *ngIf="!(error$ | async)"></app-spinner>
</ng-template>