<div class="row">
  <div class="col-12">

    <div *ngIf="backBtn" class="float-left">
      <button (click)="goBack()" class="btn-secondary">
        <i class="fas fa-chevron-left"></i>
        Go Back
      </button>
    </div>


    <div class="float-right">
      <button *ngIf="deleteBtn" (click)="delete()" class="btn-danger mr-1">
        <i class="fas fa-trash-alt"></i>
        Delete
      </button>

      <button *ngIf="editBtn" (click)="edit()" class="btn-secondary">
        <i class="fas fa-edit"></i>
        Edit
      </button>

      <button *ngIf="detailBtn" (click)="details()" class="btn-secondary btn-block mb-2">
        <i class="fas fa-info-circle"></i>
        Details
      </button>

    </div>
  </div>
</div>