<ng-template #friendsRequest let-modal>
  <div class="modal-header ">

    <h4 class="modal-title" id="modal-basic-title">
      <span class="mr-3">Friend Requests</span>
      <i *ngIf="(loadingSpinner$ | async) as loadingSpinner" class="fas fa-spinner fa-1x fa-spin"></i>

    </h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div *ngIf="data?.length; else noFriendsRequest" class="modal-body">
    <ul class="list-group list-group-flush" *ngFor="let friend of data">
      <li class="list-group-item d-flex justify-content-between">
        <p class=" cursorPointer btn-link" (click)="viewProfile(friend.requester)">
          <span class="friendTitle">{{friend.requester.username | titlecase}}</span>
        </p>

        <span>
          <button class="btn btn-danger mr-2 btn-sm" (click)="acceptRequest(friend.requester)">
            <i class="fas fa-backspace mr-1"></i>
            Deny
          </button>
          <button class="btn btn-dark btn-sm" (click)="denyRequest(friend.requester)">
            <i class="fas fa-check mr-1"></i>
            Accept
          </button>
        </span>
      </li>

      <!-- user details -->
      <li class="list-group-item" *ngIf="currentRequester">
        <div class="row" *ngIf="currentRequester._id === friend.requester._id">
          <ul class="col-8 list-group list-group-flush">
            <li class="list-group-item">
              <strong class="mr-2">Gender: </strong> {{friend.requester.gender ? friend.requester.gender : na}}
            </li>
            <li class="list-group-item">
              <strong class="mr-2">Occupation: </strong> {{friend.requester.occupation ? friend.requester.occupation :
              na}}
            </li>
            <li class="list-group-item">
              <strong class="mr-2">Hometown: </strong> {{friend.requester.hometown ? friend.requester.hometown : na}}
            </li>

          </ul>
          <div class="col-4 d-flex justify-content-center align-items-center">
            <img class="img-fluid img-thumbnail" [src]="friend.requester.avatar ? friend.requester.avatar : '../../../../assets/img/userdefault.png'"
              alt="requester">
          </div>

        </div>
      </li>


    </ul>
  </div>

  <ng-template #noFriendsRequest>
    <div class="modal-body">
      <p>No friends request found.</p>
    </div>
  </ng-template>



  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" (click)="closeModal()">
      <i class="fas fa-backspace mr-1"></i>
      Close
    </button>
  </div>
</ng-template>