<ng-template #friendsRequest let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Friend Requests</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div *ngIf="data?.length; else noFriendsRequest" class="modal-body">
    <ul class="list-group list-group-flush" *ngFor="let friend of data">
      <li class="list-group-item d-flex justify-content-between">
        <p class=" cursorPointer btn-link" (click)="viewProfile(friend.requester)">
          <span class="friendTitle">{{friend.requester.username | titlecase}}</span>
        </p>

        <span>
          <button class="btn btn-danger mr-2 btn-sm" (click)="acceptRequest(friend.requester)">
            <i class="fas fa-backspace mr-1"></i>
            Deny
          </button>
          <button class="btn btn-dark btn-sm" (click)="denyRequest(friend.requester)">
            <i class="fas fa-check mr-1"></i>
            Accept
          </button>
        </span>
      </li>


      <li *ngIf="(currentRequester$ | async) as currentRequester">
        <div *ngIf="currentRequester._id === friend.requester._id">
          <img class="smallImg" [src]="friend.requester.avatar ? friend.requester.avatar : '../../../../assets/img/userdefault.png'"
            alt="requester">
        </div>
      </li>


    </ul>
  </div>

  <ng-template #noFriendsRequest>
    <div class="modal-body">
      <p>No friends request found.</p>
    </div>
  </ng-template>



  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" (click)="closeModal()">
      <i class="fas fa-backspace mr-1"></i>
      Close
    </button>
  </div>
</ng-template>