<div class="row px-3">
  <div class="col-xs-12 col-sm-10 col-md-9 mx-auto">

    <app-heading (btnClick)="navToProfile()" heading="Edit Profile" [backBtn]="true">
    </app-heading>

    <div class="row">
      <div class="col-12 mx-auto">

        <div *ngIf="(profile$ | async) as profile; else showFetchAndRetry" class="row">

          <!-- side bar -->
          <div class="col-xs-12 col-md-4 mx-auto mb-2">
            <app-side-bar (changeFormType)="changeFormType($event)"></app-side-bar>
          </div>

          <!-- form -->
          <div class="col-xs-12 col-md-8 mx-auto">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <h4 *ngIf="formType === 'basic'">Basics</h4>
                    <h4 *ngIf="formType === 'about'">About</h4>

                  </div>
                </div>

                <form [formGroup]="profileForm" (ngSubmit)="handleSubmit()" novalidate>

                  <!-- basics form -->
                  <app-text-form-group *ngIf="formType === 'basic'" [data]="formGroupData" name="username" [errMsg]="controlNameErrs.username">

                    <input type="text" (appBlurEvent)="blurEvent($event)" formControlName="username" class="form-control"
                      [placeholder]="formGroupData['username'].placeholder">

                  </app-text-form-group>

                  <!-- radio -->
                  <app-radio-form-group *ngIf="formType === 'basic'" groupLabel="gender">

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="gender" value="male">

                      <label class="form-check-label"><small>male</small></label>
                    </div>

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="gender" value="female">

                      <label class="form-check-label"><small>female</small></label>
                    </div>

                  </app-radio-form-group>


                  <app-text-form-group *ngIf="formType === 'basic'" [data]="formGroupData" name="occupation">

                    <input type="text" (appBlurEvent)="blurEvent($event)" formControlName="occupation" class="form-control"
                      [placeholder]="formGroupData['occupation'].placeholder">

                  </app-text-form-group>


                  <!-- about form -->
                  <app-text-form-group *ngIf="formType === 'about'" [data]="formGroupData" name="hometown">

                    <input type="text" (appBlurEvent)="blurEvent($event)" formControlName="hometown" class="form-control"
                      [placeholder]="formGroupData['hometown'].placeholder">

                  </app-text-form-group>


                  <app-text-form-group *ngIf="formType === 'about'" [data]="formGroupData" name="about">

                    <textarea (appBlurEvent)="blurEvent($event)" rows="10" class="form-control" formControlName="about"
                      [placeholder]="formGroupData['about'].placeholder"></textarea>

                  </app-text-form-group>


                  <!-- button -->
                  <button type="submit" [disabled]="!profileForm.valid" class="btn btn-outline-dark btn-block btn-sm">Submit</button>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- handle loading and errors -->
<ng-template #showFetchAndRetry>
  <div *ngIf="(error$ | async) as error">
    <app-error-retry (fetchData)="fetchData()" [msg]="error"></app-error-retry>
  </div>
  <app-spinner *ngIf="!(error$ | async)"></app-spinner>
</ng-template>