<app-overlay [overlay$]="overlay$"></app-overlay>

<div class="row mx-3 mb-4">
  <div class="col-xs-12 col-sm-10 col-md-9 mx-auto">

    <!-- heading -->
    <app-heading (btnClick)="navToProfile()" heading="Edit Profile" [backBtn]="true">
    </app-heading>

    <div class="row">
      <div class="col-12 mx-auto">

        <div *ngIf="(profile$ | async) as profile; else showFetchAndRetry" class="row">

          <!-- side bar -->
          <div class="col-xs-12 col-md-4 mx-auto mb-2">
            <app-side-bar (changeFormType)="changeFormType($event)"></app-side-bar>
          </div>

          <!-- form -->
          <div class="col-xs-12 col-md-8 mx-auto">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <h4 *ngIf="formType === 'basic'">Basics</h4>
                    <h4 *ngIf="formType === 'about'">About</h4>
                    <h4 *ngIf="formType === 'avatar'">Avatar</h4>
                    <h4 *ngIf="formType === 'password'">Password</h4>

                  </div>
                </div>

                <!-- form used form basics & about -->
                <form [formGroup]="profileForm" (ngSubmit)="handleSubmit()" novalidate>

                  <!-- basics form -->
                  <app-text-form-group *ngIf="formType === 'basic'" [data]="formGroupData" name="username" [errMsg]="controlNameErrs.username">

                    <input type="text" (appBlurEvent)="blurEvent($event)" name="username" formControlName="username"
                      class="form-control" placeholder="Enter a username" [class.is-invalid]="controlNameErrs.username">

                  </app-text-form-group>

                  <!-- radio -->
                  <app-radio-form-group *ngIf="formType === 'basic'" groupLabel="Gender">

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="gender" value="male">

                      <label class="form-check-label"><small>male</small></label>
                    </div>

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="gender" value="female">

                      <label class="form-check-label"><small>female</small></label>
                    </div>

                  </app-radio-form-group>


                  <app-text-form-group *ngIf="formType === 'basic'" [data]="formGroupData" name="occupation">

                    <input type="text" formControlName="occupation" class="form-control" placeholder="Enter your occupation">

                  </app-text-form-group>


                  <!-- about form -->
                  <app-text-form-group *ngIf="formType === 'about'" [data]="formGroupData" name="hometown">

                    <input type="text" formControlName="hometown" class="form-control" placeholder="Where are you from">

                  </app-text-form-group>


                  <app-text-form-group *ngIf="formType === 'about'" [data]="formGroupData" name="about">

                    <textarea rows="10" class="form-control" formControlName="about" placeholder="Tell about yourself"></textarea>

                  </app-text-form-group>


                  <!-- button -->
                  <div class="mt-3" *ngIf="formType === 'basic' || formType === 'about'">
                    <small *ngIf="formType === 'about'" class="form-text text-muted mb-2">* make sure you fill in the
                      username on the basics form to
                      submit</small>
                    <button type="submit" [disabled]="!profileForm.valid" class="btn btn-outline-dark btn-block btn-sm">Submit</button>
                  </div>
                </form>


                <!-- upload avatar -->
                <app-upload-avatar *ngIf="formType === 'avatar'"></app-upload-avatar>


                <!-- update password -->
                <app-update-password *ngIf="formType === 'password'"></app-update-password>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- handle loading and errors -->
<ng-template #showFetchAndRetry>
  <div *ngIf="(error$ | async) as error">
    <app-error-retry (fetchData)="fetchData()" [msg]="error"></app-error-retry>
  </div>
  <app-spinner *ngIf="!(error$ | async)"></app-spinner>
</ng-template>