/* 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// Extra large devices (large desktops)
*/

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: "#F7EBCB";
  background: url(./assets/img/pattern.png) repeat;
}

.appWrapper {
  position: relative;
}

.bulletinBg {
  background: url(./assets/img/sand.jpg) repeat;
  min-height: 500px;
  padding: 30px 10px;
}

.heading {
  font-weight: 200 !important;
}

.cursorPointer {
  cursor: pointer;
}
.cursorNotAllowed {
  cursor: not-allowed;
}

button:focus {
  outline: 0;
}

/* margins */
@media (max-width: 575.98px) {
  .mTopXsSmall {
    margin-top: 10px;
  }
}
@media (max-width: 767.98px) {
  .mTopSmall {
    margin-top: 10px;
  }
}

@media (max-width: 991.98px) {
  .mTopMedium {
    margin-top: 10px;
  }
}

/* fonts */
h1 {
  font-size: 3em;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
}

h2 {
  font-size: 2.5em;
}

@media (max-width: 768px) {
  h2 {
    font-size: 2em;
  }
}

h3 {
  font-size: 2em;
}

@media (max-width: 768px) {
  h3 {
    font-size: 1.5em;
  }
}

/* width */
.widthSpacer10 {
  width: 10px;
  display: inline-block;
}

/* height */
.spacer200 {
  height: 200px;
  width: 100%;
}

.spacer100 {
  height: 100px;
  width: 100%;
}

.spacer80 {
  height: 80px;
  width: 100%;
}
.spacer70 {
  height: 70px;
  width: 100%;
}
.spacer60 {
  height: 60px;
  width: 100%;
}
.spacer50 {
  height: 50px;
  width: 100%;
}

.spacer40 {
  height: 40px;
  width: 100%;
}

.spacer30 {
  height: 30px;
  width: 100%;
}

.spacer20 {
  height: 20px;
  width: 100%;
}

.spacer10 {
  height: 10px;
  width: 100%;
}
